.container{
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 75% 25%;
	grid-template-areas: "header header"
						 "nav nav"
						 "main side"
						 "footer footer"
}

header{
	grid-area: header;
	display: grid;
	background-color:#038792;
	opacity: 1;
	grid-template-rows:1em auto auto 1em;
	grid-auto-columns:3% 47% 47% 3%;
	grid-template-areas:". . . ."
						". title  search ."
						". . icons ."
						". . . .";
	padding: 2em;
	
	
}
header > .title{
	grid-area: title;
	
}

header >.search{
	grid-area: search;
	display: flex;
	justify-content: space-around;
	
}

header > .icons{
	grid-area: icons;
}

nav{
	grid-area: nav;
	background-color: #DAEFFF;
	display: flex;

	
}
nav > a{
	padding: 0.25em;
	text-decoration: none;
	color: black;
	font-size: 1.25em;
	
}
nav > a:hover{
	background-color: #BFBFBF;
	color: whitesmoke;
}
.main{
	grid-area: main;
	background-color: rgba(79, 137, 214, 0.699);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding: 10px;
	
	

}
.main h1{
	text-align: center;
	color: rgb(24, 24, 88);
	text-shadow: rgb(177, 195, 235) 0 3px;
	

}
.main h2{
	
	
}

.main p{
text-align:start;
}


footer{
	grid-area: footer;
	border-top: double #162B8E 4px;
	text-align: center;
}

/* styling article in the main-text branch */

article {
	grid-area:side;
	font: 15px/1.5 Arial, Helvetica, sans-serif; 
}

 .container-2 {
	width: 60%;
	margin: auto; 
	overflow:hidden; 
} 

.box {
	padding-top: 30px;
}

h3 {
	text-transform: uppercase;
	font-size: 16px;
}
